'use strict';

const {getMergedFgOptions, request, setUri} = require('../../helper');

const fullPath = '<%= fullPath %>';

module.exports = <%= method %>;

function <%= method %>(params) {
  const options = getMergedFgOptions({
    method: '<%= method %>',
    uri: setUri(fullPath),
  }, params);

  return request(options);
}
